@model SitefinityWebApp.Mvc.Models.VideoWidgetModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using System.Text.RegularExpressions;

@Html.Script(ScriptRef.JQuery, "top")

@Html.StyleSheet(Url.WidgetContent("~/Mvc/Style/Video.css"), "head")

<span id="videoId1" style="display:none">@Model.FirstLink.Substring(32, 11)</span>
<span id="videoId2" style="display:none">@Model.SecondLink.Substring(32, 11)</span>
<span id="videoId3" style="display:none">@Model.ThirdLink.Substring(32, 11)</span>



<div class="row news-and-updates section-header"
     style="padding: 10px 5% 2%; background: white;">
    <section class="video-gallery" style="width: 100%;">
        <!-- Section Headings -->
        <div class="row pb-1">
            <div class="col-auto mr-auto">
                <h5 class="gallery-title">Recent Videos</h5>
            </div>
            <div id="desktop" class="col-auto ml-auto">
                <h5 class="gallery-view-more">
                    <a href="#" style="color: #7474c1;">View All Videos</a>
                </h5>
            </div>
        </div>
        <!-- Card Gallery -->
        <div style="text-align: left;"
             class="row card-gallery card-deck">
            <div id="video1" class="card shadow" style="flex: 1 0 25%; margin-bottom: 50px;">
            </div>

            <div id="video2" class="card shadow" style="flex: 1 0 25%; margin-bottom: 50px;">
            </div>

            <div id="video3" class="card shadow" style="flex: 1 0 25%; margin-bottom: 50px;">
            </div>
        </div>
    </section>
</div>

<hr id="desktop" style="display: none; width: 88%; background-color: grey;" />

@if (!(String.IsNullOrEmpty(Model.PlayList)))
{
    <span id="playList" style="display:none">@Model.PlayList.Substring(49, 34)</span>

    <div class="row news-and-updates section-header" style="padding: 10px 5% 2%; background: white;">
        <div id="news-and-updates" class="col-auto text-center mx-auto">    
            <h3>VIDEO OF THE WEEK</h3>
            <hr />
        </div>
        <section class="video-gallery" style="width: 100%;">
            <!-- Card Gallery -->
            <div id="load" style="text-align: left;" class="row card-gallery card-deck">&nbsp;</div>
        </section>
    </div>
}


@Html.Script(Url.WidgetContent("Mvc/Scripts/Video.js"), "bottom")



